# Assignment - Data Preparation

In this assignment, we will focus on housing. The data set for this exercise includes information on house sales in King County, Washington (between May 2014 and May 2015). (Each row in the data set pertains to one house. There is a total of 21,613 houses in the data set). In a later module, you will use this data set to predict the sale price of a house (i.e., the `price` column) based on the characteristics of the house. In this assignment, we will use the data set to practice our DATA PREP skills ONLY. (We won't do any predictions.)
<br><br>
Check the descriptions of the variables in the Data Dictionary file. 
<br><br>
In this assignment, we will ONLY perform data prep/transformation.

## Description of Variables

The description and type of each variable is provided in "KC house data - Data Dictionary.docx". Make sure to read this document to learn about the variables. Please check if variables are numeric, binary, or categorical.

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

# Setup

In [1]:
# Common imports
import numpy as np
import pandas as pd

np.random.seed(31484443)

# Get the data

In [2]:
# Import the data set:
#We will predict the "price" value in the data set:

kchouse = pd.read_csv("kc_house_data.csv")
kchouse.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,432000.0,5.0,2.75,2060.0,329903.0,1.5,0,3,5,7.0,2060,0,1989.0,0,98022.0,47.1776,-121.944,2240,220232.0
1,170000.0,2.0,1.00,810.0,8424.0,1.0,0,0,4,6.0,810,0,1959.0,0,98023.0,47.3286,-122.346,820,8424.0
2,235000.0,3.0,1.00,960.0,5030.0,1.0,0,0,3,7.0,960,0,1955.0,0,98118.0,47.5611,-122.280,1460,5400.0
3,350000.0,2.0,1.00,830.0,5100.0,1.0,0,0,4,7.0,830,0,1942.0,0,98126.0,47.5259,-122.379,1220,5100.0
4,397380.0,2.0,1.00,1030.0,5072.0,1.0,0,0,3,6.0,1030,0,1924.0,1958,98115.0,47.6962,-122.294,1220,6781.0

In [3]:
# Find the total number of rows

kchouse.shape

(21613, 19)

In [7]:
kchouse.isna().sum()

price            0
bedrooms         1
bathrooms        0
sqft_living      1
sqft_lot         1
floors           1
waterfront       0
view             0
condition        0
grade            1
sqft_above       0
sqft_basement    0
yr_built         1
yr_renovated     0
zipcode          2
lat              0
long             0
sqft_living15    0
sqft_lot15       1
dtype: int64

In [15]:
#drop rows with missing values since minimial amount

kchouse = kchouse.dropna(axis=0, inplace=False)

kchouse

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,432000.0,5.0,2.75,2060.0,329903.0,1.5,0,3,5,7.0,2060,0,1989.0,0,98022.0,47.1776,-121.944,2240,220232.0
1,170000.0,2.0,1.00,810.0,8424.0,1.0,0,0,4,6.0,810,0,1959.0,0,98023.0,47.3286,-122.346,820,8424.0
2,235000.0,3.0,1.00,960.0,5030.0,1.0,0,0,3,7.0,960,0,1955.0,0,98118.0,47.5611,-122.280,1460,5400.0
3,350000.0,2.0,1.00,830.0,5100.0,1.0,0,0,4,7.0,830,0,1942.0,0,98126.0,47.5259,-122.379,1220,5100.0
4,397380.0,2.0,1.00,1030.0,5072.0,1.0,0,0,3,6.0,1030,0,1924.0,1958,98115.0,47.6962,-122.294,1220,6781.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,925500.0,3.0,2.75,1970.0,5200.0,1.5,0,3,3,8.0,1970,0,1915.0,2002,98136.0,47.5374,-122.388,2140,5200.0
21609,419900.0,5.0,3.50,2880.0,5000.0,2.0,0,0,3,8.0,2260,620,2012.0,0,98038.0,47.3455,-122.023,2590,4800.0
21610,340000.0,3.0,1.75,1730.0,11986.0,1.0,0,3,5,6.0,1730,0,1918.0,0,98198.0,47.3595,-122.323,2490,9264.0
21611,740000.0,4.0,2.50,3360.0,15091.0,2.0,0,0,3,9.0,3360,0,1997.0,0,98052.0,47.6649,-122.135,1930,9936.0
21612,825000.0,3.0,2.50,3280.0,26413.0,1.0,0,3,3,11.0,2670,610,1985.0,0,98074.0,47.6395,-122.050,3280,25211.0

# Split the data into train and test

In [16]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(kchouse, test_size=0.3)

## Check the missing values

In [17]:
train.shape

(15123, 19)

In [18]:
train.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# Data Prep

In [20]:
# Imports:

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

## Separate the target variable (don't transform the target)

In [21]:
# Separate the target variable and input variables

train_targets = train[['price']]
test_targets = test[['price']]

train_inputs = train.drop(['price'], axis=1)
test_inputs = test.drop(['price'], axis=1)

##  Identify the numeric, binary, and categorical columns

In [22]:
train_inputs.dtypes

bedrooms         float64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront         int64
view               int64
condition          int64
grade            float64
sqft_above         int64
sqft_basement      int64
yr_built         float64
yr_renovated       int64
zipcode          float64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15       float64
dtype: object

In [23]:
# Identify the numerical columns
numeric_columns = ['sqft_living', 'sqft_lot', 'floors', 'view', 'condition', 'grade',
 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

# Identify the categorical columns
categorical_columns = ['zipcode']

#Itentify the binary columns
binary_columns =['waterfront']

In [24]:
numeric_columns

['sqft_living',
 'sqft_lot',
 'floors',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [25]:
categorical_columns

['zipcode']

In [26]:
binary_columns

['waterfront']

# Pipeline (recommended)

If you don't want to use pipelines, feel free to use your own data prep steps.

In [27]:
# Numeric transformer:
numeric_transformer = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler())])

In [35]:
# Categorical transformer:
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value=99999)),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [36]:
# Binary transformer:
binary_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent'))])

In [37]:
# Column transformer:
preprocessor = ColumnTransformer([
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns),
        ('binary', binary_transformer, binary_columns)],
        remainder='passthrough')

#passtrough is an optional step. You don't have to use it.

# Transform: fit_transform() for TRAIN

In [38]:
#Fit and transform the train data
train_x = preprocessor.fit_transform(train_inputs)

train_x

<15123x87 sparse matrix of type '<class 'numpy.float64'>'
	with 257189 stored elements in Compressed Sparse Row format>

In [39]:
train_x.shape

(15123, 87)

# Tranform: transform() for TEST

In [40]:
# Transform the test data
test_x = preprocessor.transform(test_inputs)

test_x

<6482x87 sparse matrix of type '<class 'numpy.float64'>'
	with 110236 stored elements in Compressed Sparse Row format>

In [41]:
test_x.shape

(6482, 87)